<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jqwidgets</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" > <!-- <link rel="icon" type="image/x-icon" > -->

<!-- Styles -->
<link rel="stylesheet" href="http://www.jqwidgets.com/public/jqwidgets/styles/jqx.base.css" type="text/css" /> 
<!-- jQWidgets -->
<script src="http://www.jqwidgets.com/public/jqwidgets/jqxcore.js"></script>
<script src="http://www.jqwidgets.com/public/jqwidgets/jqxdata.js"></script>
<script src="http://www.jqwidgets.com/public/jqwidgets/jqxbuttons.js"></script>
<script src="http://www.jqwidgets.com/public/jqwidgets/jqxscrollbar.js"></script>
<script src="http://www.jqwidgets.com/public/jqwidgets/jqxmenu.js"></script>
<script src="http://www.jqwidgets.com/public/jqwidgets/jqxgrid.js"></script>
<script src="http://www.jqwidgets.com/public/jqwidgets/jqxgrid.selection.js"></script>
<script src="http://www.jqwidgets.com/public/jqwidgets/jqxgrid.columnsresize.js"></script>
<script src="http://www.jqwidgets.com/public/jqwidgets/jqxgrid.sort.js"></script>
</head>

<body> 


<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
           
        </div>
    </div>
</div>
</body>
</html>